<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container py-2">

    <ul class="top-menu">
        <li><a href='/'>Home</a></li>
        <li><a href='/cart' id="cart-link">View Cart</a></li>
    </ul>

    {% block body %}
    {% endblock %}
    
    </div>
    </body>
</html>